<!doctype html>
<html ng-app="todoApp"><!--root scope-->
<head>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/todos.js"></script>
    <link rel="stylesheet" href="style/todos.css">
</head>
<body>
<h2>Todo</h2>
<div ng-controller="TodoController"><!--controller scpoe-->
    <span>{{remaining()}} of {{todos.length}} remaining</span>
    [ <a href="" ng-click="archive()">archive</a> ]
    <ul class="unstyled">
        <li ng-repeat="todo in todos"><!--list foreach-->
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
    </ul>
    <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
    </form>
</div>
</body>
</html>